<?xml version="1.0" encoding="UTF-8"?>

<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Wyclif</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.DataFilterActivator</activator>

    <filter>
        <filter-name>${project.parent.artifactId}DataFilterWebFilter</filter-name>
        <filter-class>${project.parent.groupId}.${project.parent.artifactId}.web.DataFilterWebFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>${project.parent.artifactId}DataFilterWebFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Privileges
    <privilege>
        <name>ByPass Data Filters</name>
        <description>Any user with this privilege bypasses all configured data filters</description>
    </privilege>
     -->
    <!-- Global properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.runInStrictMode</property>
        <description>
            When the value is set to false, the user can view a record that they don't have access,
            this can arise if they have a filtered record's unique identifier or a link to it since
            filters are not applied when looking up records by id, it's highly recommended to always
            run in strict mode and only turn this off when running in a non-production environment.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.patientLocationLinkingInterceptor.enabled</property>
        <description>
            When the value is set to true, whenever a new patient is created, they get linked to the location
            set on the authenticated user's context i.e. the location the user selects when logging into the
            reference application.
        </description>
    </globalProperty>

</module>

