<?xml version="1.0" encoding="UTF-8"?>

<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Wyclif</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.DataFilterActivator</activator>

    <require_modules>
        <require_module version="${appframeworkVersion}">${project.parent.groupId}.appframework</require_module>
    </require_modules>

    <!-- Privileges -->
    <privilege>
        <name>ByPass Data Filters</name>
        <description>Any user with this privilege bypasses all configured data filters</description>
    </privilege>

    <!-- Global properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.personAttributeTypeUuids</property>
        <description>
            A comma separated list of uuids for the person attribute types to use as the basis for filtering,
            The format property of the matching person attribute type(s) MUST match valid java class names and
            should match values in the basis_type column in the ${project.parent.artifactId}_user_basis_map table.
            E.g. if you want to add location based filtering, you would filter by Location meaning the format
            of the person attribute type with the uuid to set here would be org.openmrs.Location.
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.runInStrictMode</property>
        <description>
            When the value is set to false, the user can view a record that they don't have access,
            this can arise if they have a filtered record's unique identifier or a link to it since
            filters are not applied when looking up records by id, it's highly recommended to always
            run in strict mode and only turn this off when running in a non-production environment.
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}_locationBasedVisitFilter.disabled</property>
        <description>
            When the value is set to true, then location based filtering for visits will be disabled
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}_locationBasedEncounterFilter.disabled</property>
        <description>
            When the value is set to true, then location based filtering for  will be disabled
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}_locationBasedObsFilter.disabled</property>
        <description>
            When the value is set to true, then location based filtering for observations will be disabled
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}_locationBasedPatientFilter.disabled</property>
        <description>
            When the value is set to true, non full text based location based filtering for patients will be disabled
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}_locationBasedUserFilter.disabled</property>
        <description>
            When the value is set to true, non full text based location based filtering for users will be disabled
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}_locationBasedPatientFullTextFilter</property>
        <description>
            When the value is set to true, full text location based filtering for patients will be disabled
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}_encTypePrivBasedEncounterFilter.disabled</property>
        <description>
            When the value is set to true, then encounter type's view privilege based filtering
            for encounters will be disabled
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}_encTypePrivBasedObsFilter.disabled</property>
        <description>
            When the value is set to true, then encounter type's view privilege based filtering
            for observations will be disabled
        </description>
    </globalProperty>

</module>

